body{
    background-color: #DEF5E5;
}
hr{
    background-color: white;
    border-style: none ;
    height: 5px;
    

}
h1{
    color: #66BFBF;
}
h3{
    color: #105656;
}
table{
    border-collapse: collapse;
}
a:hover{
    background-color: red';
} 

